.gradient-text {
    background: linear-gradient(45deg, #090911, #ED477C, #8247C9);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
.backgroundColor{
    background: linear-gradient(45deg, #090911, #ED477C, #8247C9);
}  