.gradient-text {
    background: linear-gradient(45deg, #090911, #ED477C, #8247C9);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
.gradient-bg {
    /* background: linear-gradient(45deg, #090911, #ED477C, #8247C9); */
    background-color: #500269;

  }

  .resomecard {
    /* transition: background-color 0.5s ease; */
    
  }
  
  .resomecard:hover {
    background-color: #762644; 
    cursor: pointer;
  }
  .tab{
    font-weight: 900;
    font-size:15px;
  }
  .tab:hover {
 background-color: #641AE6;

  }