.slick-prev:before {
    display: none !important;
  }
  .slick-next:before {
    display: none !important;
  }
  .slick-dots li button:before {
    display: none !important;
  }
  .gradient-text {
    background: linear-gradient(45deg, #090911, #ED477C, #8247C9);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .banner-img {
    width: 200px;
  height: 200px;
  border-radius: 50%;
  overflow: hidden;
  }
  
  .header-banner{
    background: url("../../../assets/Banner/banner.png") no-repeat fixed;
    /* background-color: yellow; */
}
  